body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#nav {
  background-color: rgb(133, 10, 10);
  color: yellow;
  width: 30%;
  float: left;
  height: 100vh;
  padding-top: 5px;
}

.nav-button {
  background-color: rgb(92, 8, 8);
  color: yellow;
  height: 25px;
  font-size: 18px;
}

a:link {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: greenyellow;
  background-color: transparent;
  text-decoration: underline;
}

#PageContainer {
  width: 70%;
  float: right;
  height: 100vh;
  justify-content: center;
}

#ProjectsContainer {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-start;
}

:root {
  --bc: rgb(175, 175, 175);
}

.project-card {
  align-self: center;
  text-align: center;
  height: 300px;
  width: 400px;
  background-color: var(--bc);
}

.card-button {
  background-color: rgb(192, 192, 192);
  height: 20px;
  font-size: 14px;
  margin: 5px;
}

.li {
  margin-top: 10px;
}

#WelcomePage {
  background-color: rgb(150, 173, 241);
  width: 70%;
  text-align: center;
  padding: 70px 0;
  justify-content: center;
  align-content: center;
  float: right;
  height: 100vh;
}

.scroll-button {
  background-color: royalblue;
  font-size: 18px;
  height: 30px;
  width: 150px;
  margin: 40px;
}

#new-project-button {
  background-color: royalblue;
  font-size: 18px;
  height: 30px;
  width: 200px;
  align-self: center;
}

#NewProjectForm {
  margin-top: 100px;
  width: 500px;
  align-self: center;
  background-color: rgb(214, 219, 188);
}

#ProjectsInner {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-start;
}

#search-page {
  padding-top: 20%;
  color: purple;
}

#search-button {
  height: 21px;
  font-size: 13px;
  background-color: purple;
  color: white;
  font-weight: bold;
}

#schedule {
  display: grid;
  grid-template-columns: 10% 30% 30% 30%;
  grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
  grid-row-gap: 3px;
}

.schedule-header {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 100px;
}

.schedule-time {
  font-weight: bold;
  text-align: right;
}

.schedule-cell {
  justify-content: top;
}

#current-time {
  background-color: yellow;
}

.sched-todo {
  background-color: rgb(53, 122, 200);
}
